{% extends 'blog/base.html' %}
{% block body_block %}
    <div class="p-5 m-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
        <h2>Please log In:</h2>
        <h5 class="mb-4">Must be a superuser, please check with the site admin.</h5>
        {% if form.errors %}
            <p>Username and password did NOT match. Please try again.</p>
            <p></p>
        {% endif %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p></p>
            <button class="btn btn-primary" type="submit">Login</button>
            <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
{% endblock %}
        