{% extends 'blog/base.html' %}

{% block body_block %}
    <div class="p-5 m-5 shadow-4 rounded-3 centerstage" style="background-color: hsl(0, 0%, 94%);">
        {% for post in post_list %}
        <div class="post">
            <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        </div>
        <div class="date">
            <p>Published on: {{ post.published_date|date:"D M Y"}}</p>
        </div>
        <div class="comments">
            <p><a href="{% url 'blog:post_detail' pk=post.pk %}"></a>{{ post.approve_comments.count }} comments</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}